# config/packages/security.yaml
security:
  enable_authenticator_manager: true

  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User\User
        property: username

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    # LOGOWANIE – tylko pod /api/login
    login:
      pattern: ^/api/login$
      stateless: true
      provider: app_user_provider
      json_login:
        check_path: api_login          # <— NAZWA ROUTE, nie URL
        username_path: username
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure

    # RESZTA /api – wymaga JWT
    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider
      jwt: ~

  access_control:
    # public: swagger i entrypoint API Platform (opcjonalnie)
    - { path: ^/api/docs(?:\.json)?$, roles: PUBLIC_ACCESS }
    - { path: ^/api/contexts/.*, roles: PUBLIC_ACCESS }
    - { path: ^/api/?$, roles: PUBLIC_ACCESS }
    # publiczne logowanie
    - { path: ^/api/login$, roles: PUBLIC_ACCESS }
    # wszystko inne w /api wymaga JWT
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
