@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #101828;
}

h2 {
  color: #101828;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6A7282;
}
.title {
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #4A5565;
}


/* fonts end */
/*  buttons */

.green-btn {
  background: #00A63E;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 14px 0;
  gap: 8px;
  color: #FFF;
  font-size: 16px;
  align-items: center;
}
/*  buttons end */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 450px;
  width: 100%;
  padding: 50px 25px;
  background: #FFFFFF;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}


.login-form input {
  width: 100%;
  border: 1px solid gray;
}

.login-bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #F0FDF4 0%, #EFF6FF 100%), #FFFFFF;
}
.login-card input {
  border: 1px solid #D1D5DC;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  box-sizing: border-box;
  margin-top: 8px;
}
.login-card h5, .login-card p {
  text-align: center;
}
.login-icon {
  margin-left: auto;
  margin-right: auto;
}
.login-card h5 {
  padding-top: 16px;
  padding-bottom: 8px;
}
.login-form {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.login-card p {
  padding-bottom: 32px;
}
.error-message {
  color: red;
  padding: 0 !important;
}
.menu-user {
  padding: 24px;
  border-bottom: 1px solid #E5E7EB;
}
#menu{
  width: 15%;
  height: 100vh;
  border-right: 1px solid #E5E7EB;
}
.dashboard-content {
  width: 85%;
}
.logo-dashboard-box{
  gap: 12px;
}
.logo-dashboard-box img {
  height: 60px;
}
.initials{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D1D5DC;
  border-radius: 99px;
}
.user-info{
  gap: 12px;
  margin-top: 25px;
  padding: 16px 12px;
  background: #F9FAFB;
  border-radius: 10px;
}
.nav-item {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  gap: 12px;
  align-items: center;
}
.menu-nav {
  padding: 24px;
  border-bottom: 1px solid #E5E7EB;
}
.nav-item:hover {
  /*
  color: #008236;
  background: #F0FDF4;
  */
  font-weight: 600;
}
.nav-item.active{
  font-weight: 600;
  color: #008236;
  background: #F0FDF4;
}
.logout {
  padding: 24px;
}
.logout button{
  width: 100%;
  display: flex;
  padding: 12px 16px;
  gap: 12px;
  align-items: center;
  color: #E7000B;
}
.dashboard-content {
  margin: 32px;
  background: #F9FAFB;
  padding: 24px;
}
/* RWD */
@media (max-width: 1536px) {}
@media (max-width: 1280px) {}
@media (max-width: 1024px) {}
@media (max-width: 768px) {
  .login-card {
  width: 90% !important;
}
}
@media (max-width: 640px) {}