@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

.title {
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #4A5565;
}

/* fonts end */
/*  buttons */

.green-btn {
  background: #00A63E;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 14px 0;
  gap: 8px;
  color: #FFF;
  font-size: 16px;
  align-items: center;
}
/*  buttons end */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 450px;
  width: 100%;
  padding: 50px 25px;
  background: #FFFFFF;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}


.login-form input {
  width: 100%;
  border: 1px solid gray;
}

.login-bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #F0FDF4 0%, #EFF6FF 100%), #FFFFFF;
}
.login-card input {
  border: 1px solid #D1D5DC;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  box-sizing: border-box;
  margin-top: 8px;
}
.login-card h5, .login-card p {
  text-align: center;
}
.login-icon {
  margin-left: auto;
  margin-right: auto;
}
.login-card h5 {
  padding-top: 16px;
  padding-bottom: 8px;
}
.login-form {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.login-card p {
  padding-bottom: 32px;
}
.error-message {
  color: red;
  padding: 0 !important;
}
/* RWD */
@media (max-width: 1536px) {}
@media (max-width: 1280px) {}
@media (max-width: 1024px) {}
@media (max-width: 768px) {
  .login-card {
  width: 90% !important;
}
}
@media (max-width: 640px) {}